body {
	font-family: 'Open Sans', sans-serif;
	background: #27262b;
}
/*.wrapper {
	position:relative;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;

}*/
.magic {
	position:absolute;
	background: #e9e4de;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .10);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .10);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .10);
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	margin:auto;
	height: 400px;
	width: 600px;
}
.logo {
	padding-left:20px;
	padding-top:10px;
	display:inline-block;
	font-weight:300;
}
.header {
	display:inline-block;
	width:100%;
	height:40px;
	color:rgba(255,255,255,0.9);
	background:#3a3c40;
}
.setting-wrap {
	float:right;
	display:block;
	width: 40px;
	height: 100%;
	color:white;
	background: #15c7cb;

}
.setting {
	padding-left:13px;
	padding-top:10px;
}
.content {
	color:rgba(0,0,0,0.8);
	padding: 10px;
	font-size:30px;
	font-weight:300;
}
/*.intro {
	padding:10px 0px;
	border-top: 1px solid rgba(255,255,255,0.5);
	outline: solid 1px rgba(0,0,0,0.1);
	background:#edece7;
	}*/
	.qheader {
		text-transform: uppercase;
		font-size:12px;
		font-weight:600;	
		color: #15c7cb;
		width:70px;
		z-index:999999;
		margin-top:-9px;
		margin-left:5px;
		background:#f7f8f8;

	}
	.q {
		z-index: -99999;
		color:#716f70;
		font-size:20px;
		width:400px;
		padding: 0px 50px 20px 50px;
		/*border-top: 1px solid #FFFFFF;*/
		border: solid 1px  rgba(0,0,0,0.1);
		font-weight:300;
		margin: 25px auto;
		text-align:center;
		background:#f7f8f8;


	}
	.hheader {
		text-transform: uppercase;
		font-size:12px;
		font-weight:600;	
		color: #7e8493;
		width:40px;
		margin-top:-9px;
		margin-left:5px;
		background:#f7f8f8;
	}
	.h {
		display:none;	
		color:rgba(0,0,0,0.8);
		font-size:20px;
		width:400px;
		padding: 0 50px;
		border:1px solid rgba(0,0,0,0.1);
		font-weight:300;
		margin: 25px auto;
		text-align:center;
		background:#f7f8f8;


	}
	.ansheader {
		text-transform: uppercase;
		font-size:12px;
		font-weight:600;	
		color: #69d394;
		width:60px;
		margin-top:-9px;
		margin-left:5px;
		background:#f7f8f8;
	}
	.ans {
		display:none;	
		color:rgba(0,0,0,0.8);
		font-size:20px;
		width:400px;
		padding: 0 50px;
		border:1px solid rgba(0,0,0,0.1);
		font-weight:300;
		margin: 25px auto;
		text-align:center;
		background:#f7f8f8;

	}
	.footer {
		display:inline-block;
		position:absolute; bottom:0;	
		width:100%;
		height:50px;
		color:white;
		background:#3a3c40;
	}
	.button-hint-wrapper {
		float:left;
		width: 70px;
		height: 100%;
		color:white;
		background: #4B5F92;
	}
	.button-hint {
		text-decoration: none;
		color:white;
		display:block;
		text-align: center;
		font-weight:600;
		text-transform: uppercase;
		padding:14px 0;
	}

	.tip {
		padding-left:20px;
		padding-top:14px;
		display:inline-block;
		font-weight:300;
	}
	.button-bottom-wrapper {
		float:right;
		width: 200px;
		height: 100%;
		color:white;
		background: #69d394;
	}
	.button-bottom {
		text-decoration: none;
		color:white;
		display:block;
		text-align: center;
		font-weight:600;
		text-transform: uppercase;
		padding:14px 0;
	}
	.copyright {
		position:fixed;
		bottom:0;
		left:50%;
		font-weight:300;
		color:rgba(0,0,0,0.5);
		text-align:center;
		margin-left:-250px; /*negative half the width */
		width:500px;
		height:100px;

	}
	.copyright a {
		color:rgba(0,0,0,0.3);

	}
